{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div class="container-fluid main-section">
  <div class="row">
    <div class="offset-lg-2 col-lg-8 section-part text-center">
    <h1 style="color: white;"></h1>
    <P class="hero-text" style="color: #ca4d4d;"></P>
    <a href=""><button class="btn btn-danger"></button></a> 
  </div>
  </div>
    <i class="fa fa-angle-double-down blink" aria-hidden="true"></i>
</div>

{% endblock %}
