{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div class="container-fluid main-section">
  <div class="row">
    <div class="offset-lg-2 col-lg-8 section-part text-center">
    <h1 style="color: rgb(241, 59, 59); font-size: 80px;">NeighbourHood</h1>
    <P class="hero-text" style="color: white;">Join a Communitytoday</P>
    <a href="{% url 'register' %}"><button class="btn btn-danger">Join Now</button></a> 
  </div>
  </div>
    <i class="fa fa-angle-double-down blink" aria-hidden="true"></i>
</div>
<div class="container-fluid py-4">
  <div class="hood p-2 text-center">
    <h2>Neighbourhoods</h2>
    <hr>
  </div>
</div>

{% endblock %}
