{% load static %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<header>
  <div id="mySidenav" class="sidenav" style="z-index: 5000;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url 'index' %}">Home</a>
    {% if user.is_authenticated %}
    <a href="{% url 'all_posts' %}">Posts</a>
    <a href="{% url 'user_business' user.id %}">My Businesses</a>
    <a href="{% url 'business' %}">All Businesses</a>
    {% else %}
    <a href="{% url 'business' %}">Businesses</a>
    {% endif %}
    <a href="{% url 'neighbourhood' %}">Neighbourhoods</a>
    {% if user.is_authenticated %}
  
    {% else %}
    <a href="{% url 'register' %}">Join a Community</a>
    <a href="{% url 'signin' %}">Sign In</a>
    {% endif %}
    <a href="#">Hospitals Near Me</a>
    <a href="#">Police Station</a>
    
  </div>  
  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #27333f;">
    <!-- Container wrapper -->
    <div class="container">

      <!-- Brand -->
      <span style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">
        &#9776;
        </span> 
        <a class="navbar-brand"  href="{% url 'index' %}">
        <h3 class="text-white">NeighbourHood</h3></a>
      <!-- Search form -->
      <form class="d-none d-md-flex input-group w-auto my-auto" action="{% url 'search' %}" method="get">
        <input autocomplete="off" type="search" class="form-control rounded"
          placeholder='Search a business' name="search_business" style="min-width: 225px;width: 400px;" />
          <i class="fa-solid fa-magnifying-glass-plus"></i>
      </form>

      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Icon -->
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link me-3 me-lg-0 text-white" href="{% url 'join' user.id %}">Join hood
            <i class="fas fa-fill-drip"></i>
          </a>
        </li>
        {% endif %}

        <!-- Avatar -->
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
            id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="{{user.profile.picture.url}}" class="rounded-circle text-white"
              height="22" alt="Avatar" loading="lazy" />
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">{{user.username}}</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'profile' user.pk %}">My Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'post' %}">Create Post</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'post_a_business' user.pk %}">Post Business</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>


<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-0"></div>
</main>

 
