{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-3">
  <h1 class="text-center text-white">Neighbourhoods</h1>
  <hr>
  <div class="col-md-12">
    {% for hood in neighbourhoods %}
    <div class="card" style="width: 500px; height: 200px;">
      <div class="row no-gutters">
         <div class="col-sm-5">
            <img class="card-img" src="{{hood.area_image.url}}" alt="hood" width="100%" height="100%">
         </div>
         <div class="col-sm-7">
            <div class="card-body">
               <h5 class="card-title">Name: {{hood.name}}</h5>
               <p class="card-text">Occupants: {{hood.occupants}}</p>
               <p class="card-text">Location: {{hood.location}}</p>
               <form action="" method="POST">
                  {%csrf_token%}
                  <input type="submit" class="btn btn-danger" value="Join">
                </form>
            </div>
         </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}